<div class="container" ng-controller="myController2">
<div class="row row1">
<a href="#/partials/myView">Go Back to Previous Page</a>
<div class="col-lg-12">
<h5 class="heading">Item View Page</h5>

<div class="col-lg-12">
<div class="col-lg-6"><h5 class="sub-heading">Item Details</h5></div>
<div class="col-lg-6"></div>
<div class="col-lg-12">
<table class="table table-bordered">
<thead>
	<tr>
		<th>Item Key</th>
		<th>Item Value</th>
	</tr>
</thead>
<tbody>
  <tr>
    <td>ID</td>
    <td>{{model.ID}}</td>
  </tr>
  <tr>
    <td>DIVISION_ID</td>
    <td>{{model.DIVISION_ID}}</td>
  </tr>
  <tr>
    <td>DIVISION_DESCRIPTION</td>
    <td> {{model.DIVISION_DESCRIPTION}}</td>
  </tr>
  <tr>
    <td>REGION_ID</td>
    <td>{{model.REGION_ID}}</td>
  </tr>
  <tr>
    <td>REGION_DESCRIPTION</td>
    <td>{{model.REGION_DESCRIPTION}}</td>
  </tr>
  <tr>
    <td>LINEUP_ID</td>
    <td>{{model.LINEUP_ID}}</td>
  </tr>
  <tr>
    <td>LINEUP_DESCRIPTION</td>
    <td>{{model.LINEUP_DESCRIPTION}}</td>
  </tr>
  <tr>
    <td>VOD</td>
    <td>{{model.VOD}}</td>
  </tr>
  <tr>
    <td>LSA</td>
    <td>{{model.LSA}}</td>
  </tr>
  <tr>
    <td>DOCSIS</td>
    <td>{{model.DOCSIS}}</td>
  </tr>
  <tr>
    <td>LINEAR_VIDEO</td>
    <td>{{model.LINEAR_VIDEO}}</td>
  </tr>
  <tr>
    <td>OTHER</td>
    <td>{{model.OTHER}}</td>
  </tr>
  <tr>
    <td>SUB_COUNT</td>
    <td>{{model.SUB_COUNT}}</td>
  </tr>
  <tr>
    <td>REPORT_TYPE</td>
    <td>{{model.REPORT_TYPE}}</td>
  </tr>
  <tr>
    <td>LINE_OF_PAIN</td>
    <td>{{model.LINE_OF_PAIN}}</td>
  </tr>
</tbody>
</div>
</div>

</div>
</div>
</div>
